body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: #333;
    padding: 1em;
}

header nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }
}
#home{
    background-color:lightpink;border-radius: 14px;
}
#services{
    background-color: coral;border-radius: 14px;
}
#gallery{
    background-color: hotpink;border-radius: 14px;
}
#contact{
    background-color: lightgreen;border-radius: 14px;
}
#footer{
    background-color: black;
}
.expandable-content{
    display: none;
    padding: 1em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    margin: 0px;
    background-color: white;
  }
  .gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }

  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }
  h1,h2{font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkviolet;
}
button{
    border-radius: 15px;background-color: dimgrey;
}